body {
  display: flex;
  justify-content: center;
  padding: 25px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2em;
  line-height: 0;
}

a, p, span {
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: #2860BC;
}

a:hover {
  text-decoration: none;
  color: #F3C974;
}

#content {
  display: flex;
  flex-direction: column;
  width: 700px;
  gap: 20px;
}