html * {
  font-family: 'Work Sans', sans-serif !important;
  color: white;
}

body {
  background-color: #0A1931;
}

h1 {
  font-size: 36px;
}

p {
  font-size: 24px;
  line-height: 28px;
}


a {
  font-style: normal;
  text-decoration: none;
  color: #00ADB5;
}

.center {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2% 15%;

  gap: 40px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  gap: 10px;
}

.mainbar {
}

.profile-picture {
  width: 300px;
  height: 300px;
  border-radius:30px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 5px 0px;
}

.name {
  font-size: 36px;
  line-height: 42px;
}

.name-subtext {
  font-size: 24px;
  line-height: 28px;
}

.email {
  font-size: 24px;
  line-height: 28px;
}