$background-color: #EEEEEE;
$font: 'Open Sans', sans-serif;
$header-text-color: #3C3C3C;
$header-line-height: 0.5;
$text-color: #2F2F2F;

$main-column-width: 700px;

body {
  background-color: $background-color;
  font-family: $font;
  font-size: 16px;
  color: $text-color;

  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2em;
  color: $header-text-color;
  line-height: $header-line-height;
}

h2, h3, h4, h5, h6 {
  color: $header-text-color;
  line-height: $header-line-height;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #2860BC;

  &:hover {
    text-decoration: none;
    color: #F3C974;
  }
}

#main-column {
  width: $main-column-width;
  min-width: $main-column-width;
  padding: 1% 0%;

  #profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  
    #card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
  
      #profile-picture {
        width: 240px;
        border-radius: 20px;
      }

      #icons {
        display: flex;
        flex-direction: row;
        gap: 10px;

        i {
          color: $text-color;
          transition: all .2s ease-in-out;
  
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    #name {
      color: black;
    }
  }
}

.flush-right {
  float: right;
}